<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Fidelization Push</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    <header>
      <div>
        <div class="inicio">
          <a href="\">Página Principal</a>
        </div>
        <div class="log">
          <% if (currentUser) { %>
            <form action="<%= destroySessionPath %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <span>Bienvenido, <%= currentUser.name %></span>
              <input type="submit" value="Cerrar Sesión" />
            </form>
          <% } else { %>
            <div>
              <span>¡Bienvenido!</span>
              <a href="<%= newSessionPath %>">Iniciar Sesión</a>
              <a href="<%= newUserPath %>">Crear Nuevo Usuario</a>
            </div>
          <% } %>
        </div>
      </div>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
